In [ ]:
import pandas as pd
import numpy as np

## Dataframes

In [ ]:
df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")
df.shape

In [ ]:
df.head(5)

## Atributos de un dataframe

In [ ]:
# Nombres de las columnas
df.columns

In [ ]:
df.columns.to_numpy()
# list(df.columns)

In [ ]:
# Indexes de las filas
df.index

In [ ]:
# datos
df.to_numpy()

## Tipos de datos

In [ ]:
type(df.columns)

In [ ]:
df.dtypes

In [ ]:
# Obtener la cantidad de columnas por tipo de dato

df.dtypes.value_counts()

In [ ]:
# .info() muesta la información referente al tipo de dato además 
# de la cantidad de memoria que usa el dataset 
df.info()

In [ ]:
pd.Series(["Paul", np.nan, "George"]).dtype

In [ ]:
df["total_cases"].dtype

## Conteos básicos

In [ ]:
# Valores únicos de una columna

df["continent"].unique()

In [ ]:
# Conteo de valores únicos de una columna

df["continent"].value_counts()

In [ ]:
#conteo de valores de una columns
print("Conteo de valores de la columna continente")
print(df["continent"].count()) #excluye a los missing values

print("Número total de filas en el dataset")
print(len(df))

## Estadística Básica

In [ ]:
df_bolivia = df[df["location"] =="Bolivia"]
print(df_bolivia.shape)
df_bolivia

In [ ]:
df_bolivia["new_cases"].min()

In [ ]:
df_bolivia["new_cases"].max()

In [ ]:
df_bolivia["new_cases"].mean()

In [ ]:
df_bolivia["new_cases"].median()

In [ ]:
df_bolivia["new_cases"].std()

In [ ]:
df_bolivia["new_cases"].describe()

In [ ]:
df_bolivia.describe()

## Missing values

In [ ]:
df_bolivia["new_deaths"].isna()

In [ ]:
df_bolivia["new_deaths"]

In [ ]:
print(df_bolivia["new_deaths"].count())  # Valores no nulos

In [ ]:
print(df_bolivia["new_deaths"].isna().sum())

In [ ]:
df_bolivia["new_deaths"] = df_bolivia["new_deaths"].fillna(0)

In [ ]:
print(df_bolivia["new_deaths"].count())  # Valores no nulos

In [ ]:
df_bolivia["new_deaths"].dropna()

In [ ]:
# Volvemos a generar el dataset para tener los NaN
df_bolivia = df[df["location"] =="Bolivia"]
print(df_bolivia.shape)
df_bolivia

In [ ]:
# Para corroborar si tenemos o no valores nulos en una columna
df_bolivia["new_cases"].hasnans

In [ ]:
# Para corroborar si tenemos o no valores nulos en una columna
df_bolivia["new_deaths"].hasnans

In [ ]:
df_bolivia["new_deaths"].notna()

## Operaciones con columnas

In [ ]:
# creamos una nueva columna en el DataFrame
df_bolivia["nueva_columna"] = df_bolivia["new_cases"]
df_bolivia.head()

In [ ]:
df_bolivia["total_cases_day_before"] = df_bolivia["total_cases"] - df_bolivia["new_cases"]
df_bolivia

In [ ]:
df_bolivia["casos_acumulados"] = df_bolivia['new_cases'].cumsum()
df_bolivia

In [ ]:
df_bolivia["nueva_columna"]  = df_bolivia["nueva_columna"] - 1

In [ ]:

df_bolivia[['location', 'date', 'total_cases', 'new_cases', 'new_deaths', 'nueva_columna', 'total_cases_day_before', 'casos_acumulados']]

## Seleccionando filas

In [ ]:
df_bolivia["new_deaths"] > 100

In [ ]:
# Vamos a seleccionar/filtrar del dataset las filas que cumplen con la condición 
df_bolivia[df_bolivia["new_deaths"] > 100]

In [ ]:
# Filtramos los dias donde no se registraron muertes
df_bolivia[df_bolivia["new_deaths"] == 0]

## Group by

max(), min(), mean(), first(), last()

In [ ]:
df.groupby(['continent','iso_code']).sum()

In [ ]:
df.groupby(['continent','iso_code']).first()

In [ ]:
df.groupby(['continent','iso_code']).agg({"total_cases": "sum", "total_deaths": "sum", "date": "min" })

In [ ]:
df[df["continent"] == "South America"].groupby(['continent','iso_code']).agg({"total_cases": "sum", "total_deaths": "sum", "date": ["min", "max", 'count', "nunique"] })

**Tarea**

Investiga los comandos 

.loc

.iloc

.ix

pivot_table


Aplícalos al dataframe del presente notebook.